{
  "Entries": [
    {
      "RequestUri": "/v3/conversations/B21UTEF8S:T03CWQ0QB:D2369CT7C/attachments",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"type\": \"image/png\",\r\n  \"name\": \"Bot.png\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"MissingProperty\",\r\n    \"message\": \"You must provide an original or thumbnail property\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 400
    }
  ],
  "Names": {},
  "Variables": {}
}