<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for StyleCop.Analyzers" Description="Source analysis rules treat as errors for BotBuilder-DotNet solution." ToolsVersion="16.0">
  <Rules AnalyzerId="AsyncUsageAnalyzers" RuleNamespace="AsyncUsageAnalyzers">
    <Rule Id="AvoidAsyncSuffix" Action="Error" />
    <Rule Id="AvoidAsyncVoid" Action="Error" />
    <Rule Id="UseAsyncSuffix" Action="Error" />
    <Rule Id="UseConfigureAwait" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0022" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA2227" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1303" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA0002" Action="Error" />
    <Rule Id="SA1000" Action="Error" />
    <Rule Id="SA1001" Action="Error" />
    <Rule Id="SA1002" Action="Error" />
    <Rule Id="SA1003" Action="Error" />
    <Rule Id="SA1004" Action="Error" />
    <Rule Id="SA1005" Action="None" /> <!-- SingleLineCommentsMustBeginWithSingleSpace -->
    <Rule Id="SA1006" Action="Error" />
    <Rule Id="SA1007" Action="Error" />
    <Rule Id="SA1008" Action="Error" />
    <Rule Id="SA1009" Action="Error" />
    <Rule Id="SA1010" Action="Error" />
    <Rule Id="SA1011" Action="Error" />
    <Rule Id="SA1012" Action="Error" />
    <Rule Id="SA1013" Action="Error" />
    <Rule Id="SA1014" Action="Error" />
    <Rule Id="SA1015" Action="Error" />
    <Rule Id="SA1016" Action="Error" />
    <Rule Id="SA1017" Action="Error" />
    <Rule Id="SA1018" Action="Error" />
    <Rule Id="SA1019" Action="Error" />
    <Rule Id="SA1020" Action="Error" />
    <Rule Id="SA1021" Action="Error" />
    <Rule Id="SA1022" Action="Error" />
    <Rule Id="SA1023" Action="Error" />
    <Rule Id="SA1024" Action="Error" />
    <Rule Id="SA1025" Action="Error" />
    <Rule Id="SA1026" Action="Error" />
    <Rule Id="SA1027" Action="Error" />
    <Rule Id="SA1028" Action="None" /> <!-- Code should not contain trailing whitespace -->
    <Rule Id="SA1100" Action="Error" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1121" Action="None" />
    <Rule Id="SA1129" Action="None" />
    <Rule Id="SA1131" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1214" Action="None" />
    <Rule Id="SA1216" Action="Error" />
    <Rule Id="SA1217" Action="Error" />
    <Rule Id="SA1300" Action="Error" />
    <Rule Id="SA1302" Action="Error" />
    <Rule Id="SA1303" Action="Error" />
    <Rule Id="SA1304" Action="Error" />
    <Rule Id="SA1305" Action="None" />	<!-- FieldNamesMustNotUseHungarianNotation -->
    <Rule Id="SA1306" Action="Error" />
    <Rule Id="SA1307" Action="Error" />
    <Rule Id="SA1308" Action="Error" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1310" Action="Error" />
    <Rule Id="SA1311" Action="None" /> <!-- Static readonly fields should begin with upper-case letter-->
    <Rule Id="SA1312" Action="Error" />
    <Rule Id="SA1313" Action="Error" />
    <Rule Id="SA1314" Action="Error" />
    <Rule Id="SA1400" Action="Error" />
    <Rule Id="SA1401" Action="Error" />
    <Rule Id="SA1402" Action="Error" />
    <Rule Id="SA1403" Action="Error" />
    <Rule Id="SA1404" Action="Error" />
    <Rule Id="SA1405" Action="Error" />
    <Rule Id="SA1406" Action="Error" />
    <Rule Id="SA1407" Action="Error" />
    <Rule Id="SA1408" Action="Error" />
    <Rule Id="SA1410" Action="Error" />
    <Rule Id="SA1411" Action="Error" />
    <Rule Id="SA1412" Action="Error" />
    <Rule Id="SA1413" Action="None" /> <!-- USe trailing comma in multi-line initiliazers-->
    <Rule Id="SA1500" Action="Error" />
    <Rule Id="SA1501" Action="Error" />
    <Rule Id="SA1502" Action="Error" />
    <Rule Id="SA1503" Action="Error" />
    <Rule Id="SA1504" Action="Error" />
    <Rule Id="SA1505" Action="Error" />
    <Rule Id="SA1506" Action="Error" />
    <Rule Id="SA1507" Action="Error" />
    <Rule Id="SA1508" Action="Error" />
    <Rule Id="SA1509" Action="Error" />
    <Rule Id="SA1510" Action="Error" />
    <Rule Id="SA1511" Action="Error" />
    <Rule Id="SA1512" Action="None" />	<!-- SingleLineCommentsMustNotBeFollowedByBlankLine -->
    <Rule Id="SA1513" Action="Error" />
    <Rule Id="SA1514" Action="Error" />
    <Rule Id="SA1515" Action="Error" />
    <Rule Id="SA1516" Action="Error" />
    <Rule Id="SA1517" Action="Error" />
    <Rule Id="SA1518" Action="None" /> <!-- Don't have trailing whitespace at end of file-->
    <Rule Id="SA1519" Action="Error" />
    <Rule Id="SA1520" Action="Error" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1629" Action="None" />
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>