<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for StyleCop.Analyzers" Description="Source analysis rules treat as errors for BotBuilder-DotNet solution." ToolsVersion="16.0">
  <Rules AnalyzerId="AsyncUsageAnalyzers" RuleNamespace="AsyncUsageAnalyzers">
    <Rule Id="AvoidAsyncVoid" Action="Error" />
    <Rule Id="UseConfigureAwait" Action="Error" />
    <Rule Id="UseAsyncSuffix" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0022" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1028" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1121" Action="None" />
    <Rule Id="SA1129" Action="None" />
    <Rule Id="SA1131" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1214" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1412" Action="Warning" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1518" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1629" Action="None" />
    <Rule Id="SA1633" Action="None" />
  </Rules>

   <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
	<Rule Id="CA1054" Action="None" /> <!-- UriParametersShouldNotBeStrings -->
	<Rule Id="CA1056" Action="None" /> <!-- UriPropertiesShouldNotBeStrings -->
	<Rule Id="CA1062" Action="None" /> <!-- ValidateArgumentsOfPublicMethods -->
	<Rule Id="CA2227" Action="None" /> <!-- CollectionPropertiesShouldBeReadOnly -->	
  </Rules>
  
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
	<Rule Id="CA1303" Action="None" /> <!-- DoNotPassLiteralsAsLocalizedParameters -->
  </Rules>  
</RuleSet>