<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Include>
                <ModulePath>.*\Microsoft.Bot.Builder.dll$</ModulePath>               
                <ModulePath>.*\Microsoft.Bot.Builder.Adapters.Twilio.dll$</ModulePath>
                <ModulePath>.*\Microsoft.Bot.Builder.Teams.dll$</ModulePath>               
                <ModulePath>.*\Microsoft.Bot.Builder.AI.Luis.dll$</ModulePath>
                <ModulePath>.*\Microsoft.Bot.Builder.AI.QnA.dll$</ModulePath>
                <ModulePath>.*\Microsoft.Bot.Builder.ApplicationInsights.dll$</ModulePath>
                <ModulePath>.*\Microsoft.Bot.Builder.Azure.dll$</ModulePath>
                <ModulePath>.*\Microsoft.Bot.Builder.Configuration.dll$</ModulePath>
                <ModulePath>.*\Microsoft.Bot.Builder.Connector.dll$</ModulePath>                
                <ModulePath>.*\Microsoft.Bot.Builder.Connector.Teams.dll$</ModulePath>                
                <ModulePath>.*\Microsoft.Bot.Builder.Dialogs.dll$</ModulePath>
                <ModulePath>.*\Microsoft.Bot.Builder.Integration.ApplicationInsights.Core.dll$</ModulePath>
                <ModulePath>.*\Microsoft.Bot.Builder.Integration.AspNet.Core.dll$</ModulePath>
                <ModulePath>.*\Microsoft.Bot.Builder.TemplateManager.dll$</ModulePath>
                <ModulePath>.*\Microsoft.Bot.Builder.Testing.dll$</ModulePath>
                <ModulePath>.*\Microsoft.Bot.Builder.Adapters.Webex.dll$</ModulePath>
                <!-- <ModulePath>Microsoft.Bot.Builder.Schema.dll$</ModulePath> -->
              </Include>
            </ModulePaths>
			<Sources>
              <Exclude>
                <Source>.*\\WebexMessageRequest.cs</Source>
                <Source>.*\\WebexClientWrapper.cs</Source>
              </Exclude>
            </Sources>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
