{
  "Entries": [
    {
      "RequestUri": "/v3/conversations",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"bot\": {\r\n    \"id\": \"BKGSYSTFG:TKGSUQHQE\"\r\n  },\r\n  \"members\": [\r\n    {\r\n      \"id\": \"UK8CH2281:TKGSUQHQE\"\r\n    }\r\n  ],\r\n  \"activity\": {\r\n    \"type\": \"message\",\r\n    \"from\": {\r\n      \"id\": \"BKGSYSTFG:TKGSUQHQE\"\r\n    },\r\n    \"recipient\": {\r\n      \"id\": \"UK8CH2281:TKGSUQHQE\"\r\n    },\r\n    \"text\": \"TEST Get Activity Members with invalid conversation id\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"activityId\": \"1562094706.004300\",\r\n  \"id\": \"BKGSYSTFG:TKGSUQHQE:DKE8NUG92\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/v3/conversations/BKGSYSTFG%3ATKGSUQHQE%3ADKE8NUG92M/activities/1562094706.004300/members",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"BadArgument\",\r\n    \"message\": \"Slack API error\",\r\n    \"innerHttpError\": {\r\n      \"statusCode\": 200,\r\n      \"body\": {\r\n        \"ok\": false,\r\n        \"error\": \"channel_not_found\"\r\n      }\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 400
    }
  ],
  "Names": {},
  "Variables": {}
}