{
  "Entries": [
    {
      "RequestUri": "/v3/conversations",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"bot\": {\r\n    \"id\": \"B21UTEF8S:T03CWQ0QB\"\r\n  },\r\n  \"members\": [],\r\n  \"activity\": {\r\n    \"type\": \"message\",\r\n    \"from\": {\r\n      \"id\": \"B21UTEF8S:T03CWQ0QB\"\r\n    },\r\n    \"recipient\": {\r\n      \"id\": \"U19KH8EHJ:T03CWQ0QB\"\r\n    },\r\n    \"membersAdded\": [],\r\n    \"membersRemoved\": [],\r\n    \"reactionsAdded\": [],\r\n    \"reactionsRemoved\": [],\r\n    \"text\": \"TEST Create Conversation without members\",\r\n    \"attachments\": [],\r\n    \"entities\": []\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"BadArgument\",\r\n    \"message\": \"Conversations must be to a single member\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 400
    }
  ],
  "Names": {},
  "Variables": {}
}