{
  "Entries": [
    {
      "RequestUri": "/v3/conversations",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"bot\": {\r\n    \"id\": \"BKGSYSTFG:TKGSUQHQE\"\r\n  },\r\n  \"members\": [\r\n    {\r\n      \"id\": \"UK8CH2281:TKGSUQHQE\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"BKGSYSTFG:TKGSUQHQE:DKE8NUG92\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/v3/conversations/BKGSYSTFG%3ATKGSUQHQE%3ADKE8NUG92/activities",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"type\": \"message\",\r\n  \"from\": {\r\n    \"id\": \"BKGSYSTFG:TKGSUQHQE\"\r\n  },\r\n  \"recipient\": {\r\n    \"id\": \"UK8CH2281:TKGSUQHQE\"\r\n  },\r\n  \"text\": \"TEST Send Card to Conversation\",\r\n  \"attachments\": [\r\n    {\r\n      \"contentType\": \"application/vnd.microsoft.card.hero\",\r\n      \"content\": {\r\n        \"title\": \"A static image\",\r\n        \"subtitle\": \"JPEG image\",\r\n        \"images\": [\r\n          {\r\n            \"url\": \"https://docs.microsoft.com/bot-framework/media/designing-bots/core/dialogs-screens.png\"\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"contentType\": \"application/vnd.microsoft.card.hero\",\r\n      \"content\": {\r\n        \"title\": \"An animation\",\r\n        \"subtitle\": \"GIF image\",\r\n        \"images\": [\r\n          {\r\n            \"url\": \"http://i.giphy.com/Ki55RUbOV5njy.gif\"\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ],\r\n  \"name\": \"acticity\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"1562094705.004200\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}