{
  "Entries": [
    {
      "RequestUri": "/v3/conversations",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"bot\": {\r\n    \"id\": \"B21S8SG7J:T03CWQ0QB\"\r\n  },\r\n  \"members\": [\r\n    {\r\n      \"id\": \"U8H8E2HSB:T03CWQ0QB\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"B21S8SG7J:T03CWQ0QB:D8PNY7UQ7\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/v3/conversations/B21S8SG7J:T03CWQ0QB:D8PNY7UQ7/activities",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"type\": \"message\",\r\n  \"from\": {\r\n    \"id\": \"B21S8SG7J:T03CWQ0QB\"\r\n  },\r\n  \"recipient\": {\r\n    \"id\": \"U8H8E2HSB:T03CWQ0QB\"\r\n  },\r\n  \"text\": \"TEST Send Card to Conversation\",\r\n  \"attachments\": [\r\n    {\r\n      \"contentType\": \"Hero\",\r\n      \"content\": {\r\n        \"title\": \"A static image\",\r\n        \"subtitle\": \"JPEG image\",\r\n        \"images\": [\r\n          {\r\n            \"url\": \"https://docs.microsoft.com/en-us/bot-framework/media/designing-bots/core/dialogs-screens.png\"\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"contentType\": \"Hero\",\r\n      \"content\": {\r\n        \"title\": \"An animation\",\r\n        \"subtitle\": \"GIF image\",\r\n        \"images\": [\r\n          {\r\n            \"url\": \"http://i.giphy.com/Ki55RUbOV5njy.gif\"\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ],\r\n  \"name\": \"acticity\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"1515187097.000484\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}