{
  "Entries": [
    {
      "RequestUri": "/v3/conversations",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"bot\": {\r\n    \"id\": \"invalid-id\"\r\n  },\r\n  \"members\": [\r\n    {\r\n      \"id\": \"UK8CH2281:TKGSUQHQE\"\r\n    }\r\n  ],\r\n  \"activity\": {\r\n    \"type\": \"message\",\r\n    \"from\": {\r\n      \"id\": \"BKGSYSTFG:TKGSUQHQE\"\r\n    },\r\n    \"recipient\": {\r\n      \"id\": \"UK8CH2281:TKGSUQHQE\"\r\n    },\r\n    \"text\": \"TEST Create Conversation with invalid Bot\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ServiceError\",\r\n    \"message\": \"Invalid userId: invalid-id\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 400
    }
  ],
  "Names": {},
  "Variables": {}
}