{
  "Entries": [
    {
      "RequestUri": "/v3/conversations",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"bot\": {\r\n    \"id\": \"B21UTEF8S:T03CWQ0QB\"\r\n  },\r\n  \"members\": [\r\n    {\r\n      \"id\": \"U19KH8EHJ:T03CWQ0QB\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"B21UTEF8S:T03CWQ0QB:D2369CT7C\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/v3/conversations/B21UTEF8S:T03CWQ0QB:D2369CT7C/activities",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"type\": \"message\",\r\n  \"from\": {\r\n    \"id\": \"B21UTEF8S:T03CWQ0QB\"\r\n  },\r\n  \"recipient\": {\r\n    \"id\": \"U19KH8EHJ:T03CWQ0QB\"\r\n  },\r\n  \"membersAdded\": [],\r\n  \"membersRemoved\": [],\r\n  \"reactionsAdded\": [],\r\n  \"reactionsRemoved\": [],\r\n  \"text\": \"TEST Activity to be updated with invalid conversation Id\",\r\n  \"attachments\": [],\r\n  \"entities\": []\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"1516641072.000312\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/v3/conversations/B21S8SG7K:T03CWQ0QB/activities/1516641072.000312",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"type\": \"message\",\r\n  \"id\": \"1516641072.000312\",\r\n  \"from\": {\r\n    \"id\": \"B21UTEF8S:T03CWQ0QB\"\r\n  },\r\n  \"recipient\": {\r\n    \"id\": \"U19KH8EHJ:T03CWQ0QB\"\r\n  },\r\n  \"membersAdded\": [],\r\n  \"membersRemoved\": [],\r\n  \"reactionsAdded\": [],\r\n  \"reactionsRemoved\": [],\r\n  \"text\": \"TEST Activity mustn't be updated\",\r\n  \"attachments\": [],\r\n  \"entities\": []\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ServiceError\",\r\n    \"message\": \"Invalid ConversationId: B21S8SG7K:T03CWQ0QB\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 400
    }
  ],
  "Names": {},
  "Variables": {}
}