{
  "Entries": [
    {
      "RequestUri": "/api/usertoken/GetToken?userId=default-user&connectionName=mygithubconnection",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"connectionName\": \"mygithubconnection\",\r\n  \"token\": \"randomtoken\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}